/*
 * Sample configuration file. Copy this in "secrets.h" (remove the .sample from the name)
 * and adapt the contents to your configuration.
 *
 * Copyright (c) 2017, 2018 Danny Backx
 *
 * License (MIT license):
 *   Permission is hereby granted, free of charge, to any person obtaining a copy
 *   of this software and associated documentation files (the "Software"), to deal
 *   in the Software without restriction, including without limitation the rights
 *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *   copies of the Software, and to permit persons to whom the Software is
 *   furnished to do so, subject to the following conditions:
 *
 *   The above copyright notice and this permission notice shall be included in
 *   all copies or substantial portions of the Software.
 *
 *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *   THE SOFTWARE.
 */

#define MY_SSID_1		"some-network-name"
#define MY_WIFI_PASSWORD_1	"the-password"
#define MY_SSID_2		"AnotherNetworkSSID"
#define MY_WIFI_PASSWORD_2	"pwd"

// Unspecified :
#undef MY_SSID_3
#undef MY_WIFI_PASSWORD_3
#undef MY_SSID_4
#undef MY_WIFI_PASSWORD_4

#define	MQTT_HOST	"mosquitto.house.local"
#define	MQTT_PORT	12345

#define MQTT_CLIENT	"esp switch"

#define	OTA_ID		"OTA-Switch"

#define	SSR_PIN		D6
#define	LED_PIN		D5

#define	MY_TIMEZONE	+1

/* Sensors */
#define	SENSOR_1_ID	0x12345678
#define	SENSOR_1_NAME	"Motion sensor 1"
#define	SENSOR_1_ZONE	"secure"

#define	SENSOR_2_ID	0x23456781
#define	SENSOR_2_NAME	"Smoke detector 1"
#define	SENSOR_2_ZONE	"always"

#define	SENSOR_3_ID	0x00000000
#define	SENSOR_3_NAME	""
#define	SENSOR_3_ZONE	""

#define	SENSOR_4_ID	0x00000000
#define	SENSOR_4_NAME	""
#define	SENSOR_4_ZONE	""

#define	SENSOR_5_ID	0x00000000
#define	SENSOR_5_NAME	""
#define	SENSOR_5_ZONE	""

#define	SENSOR_6_ID	0x00000000
#define	SENSOR_6_NAME	""
#define	SENSOR_6_ZONE	""

#define	SENSOR_7_ID	0x00000000
#define	SENSOR_7_NAME	""
#define	SENSOR_7_ZONE	""

#define	SENSOR_8_ID	0x00000000
#define	SENSOR_8_NAME	""
#define	SENSOR_8_ZONE	""

#define	SENSOR_9_ID	0x00000000
#define	SENSOR_9_NAME	""
#define	SENSOR_9_ZONE	""

/* Modules - see end of Config.cpp */
#define	MODULES_CONFIG_STRING 							\
  { "12:34:56:78:90:ab",							\
    "{ \"radioPin\" : 4, \"haveOled\" : true, \"oledLedPin\" : 0,		\
       \"name\" : \"Upstairs keypad\" }"					\
  },										\
  { "34:56:78:90:ab:cd",							\
    "{ \"radioPin\" : 4, \"haveOled\" : true, \"oledLedPin\" : 0,		\
       \"haveRfid\"
       \"name\" : \"Hall  keypad\" }"						\
  },										\
  { "01:23:45:67:89:0a",							\
    "{ \"name\" : \"ESP32 d1 mini\" }"						\
  },
