
#define MY_SSID_1		"some-network-name"
#define MY_WIFI_PASSWORD_1	"the-password"
#define MY_SSID_2		"AnotherNetworkSSID"
#define MY_WIFI_PASSWORD_2	"pwd"

// Unspecified :
#undef MY_SSID_3
#undef MY_WIFI_PASSWORD_3
#undef MY_SSID_4
#undef MY_WIFI_PASSWORD_4

#define	MQTT_HOST	"mosquitto.house.local"
#define	MQTT_PORT	12345

#define MQTT_CLIENT	"esp switch"

#define	OTA_ID		"OTA-Switch"

#define	SSR_PIN		D6
#define	LED_PIN		D5

#define	MY_TIMEZONE	+1
